<nav class="navbar-primary" [ngClass]="{'minimized': !nav.visible}">
<!-- <a href="#" class="btn-expand-collapse" (click)="menuButtonClicked();"><span class="glyphicon glyphicon-menu-left"></span></a> -->
<ul class="navbar-primary-menu">
    <!-- <li>
        <div class="menu-label">MENU</div>
    </li> -->
    <li>
        <span *ngIf="isAdminUser">
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/home" routerLinkActive="active">
                <span class="fas fa-tachometer-alt"></span><span class="nav-label">Dashboard</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/department" routerLinkActive="active">
                <span class="fas fa-university"></span><span class="nav-label">Department</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/employees" routerLinkActive="active">
                <span class="fas fa-users"></span><span class="nav-label">Employees</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/call-management" routerLinkActive="active">
                <span class="fas fa-phone-volume"></span><span class="nav-label">Call Management</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/work-details" routerLinkActive="active">
                <span class="fas fa-briefcase"></span><span class="nav-label">Work Details</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/service-report" routerLinkActive="active">
                <span class="fas fa-hand-holding-usd"></span><span class="nav-label">Service Report</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/material-request" routerLinkActive="active">
                <span class="fas fa-puzzle-piece"></span><span class="nav-label">Material Request</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/general-info/customer" routerLinkActive="active">
                <span class="fas fa-info-circle"></span><span class="nav-label">General Info</span>
            </a>
             <!-- <a class="menu-link" routerLink="/attendance" routerLinkActive="active"><span class="fas fa-edit"></span><span class="nav-label pl-2"> Attendance</span></a>
            <a class="menu-link" routerLink="/notification" routerLinkActive="active"><span class="far fa-bell"></span><span class="nav-label pl-2"> Notification</span></a> -->
        </span>
        <span *ngIf="!isAdminUser">
            <!-- <a class="menu-link" routerLink="/employee" routerLinkActive="active">
                <span class="fas fa-user"></span><span class="nav-label pl-2">My View</span>
            </a> -->
            
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/new-work" routerLinkActive="active">
                <span class="fas fa-briefcase"></span><span class="nav-label">Work Details</span>
            </a>
            <a class="menu-link" (click)=menuButtonClicked() routerLink="/material-request" routerLinkActive="active">
                <span class="fas fa-puzzle-piece"></span><span class="nav-label">Material Request</span>
            </a> 
        </span>
        <!-- <a class="menu-link" (click)=menuButtonClicked()>
            <span class="fas fa-cogs"></span>
            <span class="nav-label pl-2">Settings</span>
        </a> -->
    </li>
</ul>
</nav>