<div class="page-header-container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>DEPARTMENT VIEW</span>                
                </h4>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 search-container">
            <div class="row">
                <div class="col-lg-3">
                    <form novalidate [formGroup]="departmentSearchForm">
                        <div class="search-label-container"><label>Status</label></div>
                        <select class="form-control" formControlName="departmentStatus"
                            (change)="onDepartmentStatusChanged($event);">   
                            <option value="">Select</option>
                            <option value="0">Non Active</option>
                            <option value="1">Active</option>
                        </select>
                    </form>
                </div>
                <div class="col-lg-9 pt-4">
                    <span class="float-right">
                        <!-- <button class="btn btn-info float-right" (click)="openDepartmentEntryForm();">
                            <i class="fa fa-plus"></i> Create
                        </button> -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pt-2">
  <div class="row">
      <div class="col-lg-12">
          <!-- 
              "departmentId": 1,
              "createdAt": 1527726446000,
              "departmentName": "AFTER SALES",
              "description": null,
              "emailId": "aftersales@alindrelays.com",
              "isActive": 1,
              "mobileNo": "9446001704/320",
              "updatedAt": 1527800257000
           -->
           <table class="table" [mfData]="departmentList" #mf="mfDataTable" [mfRowsOnPage]="15">
                <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="slNo">Sl No</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="departmentName">Department Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="emailId">Email</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="mobileNo">Mobile Number</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="createdAt">Created On</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="updatedAt">Updated On</mfDefaultSorter>
                    </th>                     
                    <!-- <th>
                        Action
                    </th> -->
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.slNo }}</td>
                    <td>{{item.departmentName | uppercase }}</td>
                    <td>{{item.emailId | uppercase}}</td>              
                    <td>{{item.mobileNo}}</td>
                    <td>{{item.createdAt | date :  "dd MMM yyyy"}}</td>
                    <td>{{item.updatedAt | date :  "dd MMM yyyy" }}</td>
                     <!--<td>
                        <a class="link" (click)="editDepartmentDetails(item);"><i class="far fa-edit"></i></a>
                        <button class="btn btn-sm approve" (click)="editDepartmentDetails(item);"><i class="fas fa-check"></i> Edit </button> 
                    </td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[15,25,30,40,50]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>          
      </div>
  </div>
</div>
<!-- 
createdAt: 1527726446000
departmentId: 1
departmentName: "AFTER SALES"
description: null
emailId: "aftersales@alindrelays.com"
isActive: 1
mobileNo: "9446001704/320"
updatedAt: 1527800257000

-->
  <!-- Department Modal Form -->
  <div class="modal" id="departmentModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Department</h5>
            <button class="close" type="button" data-dismiss="modal" appModal  (click)="closeDepartmentEntryView();">&times;</button>
          </div>
          <form novalidate [formGroup]="departmentSaveForm" (ngSubmit)="onDepartmentDetailsSubmitted();">
            <div class="modal-body"> 
              <div class="row form-group">
                  <div class="col-lg-12">
                    <label>Department Name</label>
                    <input type="hidden" formControlName="departmentId" />    
                    <input formControlName="departmentName" class="form-control"
                      [ngClass]="{ 'is-invalid': isDepartmentFormAttemptSubmit && departmentForm.departmentName?.errors }"/>
                    <div *ngIf="isDepartmentFormAttemptSubmit && departmentForm.departmentName?.errors" class="invalid-feedback">
                        <div *ngIf="departmentForm.departmentName?.errors.required">Please provide the department name.</div>
                    </div> 
                  </div>
                </div>  
              <div class="row form-group">
                <div class="col-lg-12">
                    <label>Description</label>
                    <input formControlName="description" class="form-control"
                      [ngClass]="{ 'is-invalid': isDepartmentFormAttemptSubmit && departmentForm.description?.errors }"/>
                    <div *ngIf="isDepartmentFormAttemptSubmit && departmentForm.description?.errors" class="invalid-feedback">
                        <div *ngIf="departmentForm.description?.errors.required">Please provide the description.</div>
                    </div> 
                </div>
              </div> 
              <div class="row form-group">
                <div class="col-lg-12">
                    <div><label>Email</label></div>
                    <input formControlName="emailId" class="form-control"
                    [ngClass]="{ 'is-invalid': isDepartmentFormAttemptSubmit && departmentForm.emailId.errors }"/>
                    <div *ngIf="isDepartmentFormAttemptSubmit && departmentForm.emailId.errors" class="invalid-feedback">
                        <div *ngIf="departmentForm.emailId.errors.required">Please provide an email.</div>
                    </div>                   
                </div>
              </div>  
              <div class="row form-group">
                <div class="col-lg-12">
                    <div><label>Mobile Number</label></div>
                    <input formControlName="mobileNo" class="form-control"
                    [ngClass]="{ 'is-invalid': isDepartmentFormAttemptSubmit && departmentForm.mobileNo.errors }"/>
                    <div *ngIf="isDepartmentFormAttemptSubmit && departmentForm.mobileNo.errors" class="invalid-feedback">
                        <div *ngIf="departmentForm.mobileNo.errors.required">Please provide the mobile number(s).</div>
                    </div>                   
                </div>
              </div>    
              <div class="row form-group">
                <div class="col-lg-12">
                    <label>Is Active</label>
                    <select class="form-control" formControlName="isActive" 
                    [ngClass]="{ 'is-invalid': isDepartmentFormAttemptSubmit && departmentForm.isActive.errors }">   
                      <option value="">Select</option>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select>
                    <div *ngIf="isDepartmentFormAttemptSubmit && departmentForm.isActive?.errors" class="invalid-feedback">
                        <div *ngIf="departmentForm.isActive?.errors.required">Please provide the department active status.</div>
                    </div>
                </div>
              </div>   
            </div>             
            <div class="modal-footer">
              <button class="btn btn-info" type="submit">Submit</button>
              <button class="btn btn-danger" type="button" data-dismiss="modal" appModal (click)="closeDepartmentEntryView();">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- End Of Department Modal Form -->
