<div class="">
    <div class="row">
        <div class="col-lg-12">
            <table class="table" [mfData]="allocationInfo" #mf="mfDataTable" [mfRowsOnPage]="50">
                <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="projectName">Project Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="projectCode">Project Code</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="amcCode">AMC Code</mfDefaultSorter>
                    </th>                    
                    <th>
                        <mfDefaultSorter by="projectStatus">Project Status</mfDefaultSorter>
                    </th>              
                    <th>
                        <mfDefaultSorter by="startDate">Start Date</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="endDate">End Date</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.projectName}}</td>
                    <td>{{item.projectCode}}</td>              
                    <td>{{item.amcCode }}</td>
                    <td>{{item.projectStatus}}</td>              
                    <td>{{item.startDate | date :  "dd MMM yyyy" }}</td>
                    <td>{{item.endDate | date :  "dd MMM yyyy" }}</td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>  
</div>