.emp-info-body{
    label{
        font-weight: 600;
    }
    .label-wrapper{
        display: inline-block;
        width: 18%;
    }
    h4{
        padding: 5px;
        background-color: #eae9e7;
    }
}