  <div class="emp-info-body">        
    <div class="row">
        <div class="col-lg-12">
            <input formControlName="userId" class="form-control" type="hidden" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <h4>Personal Information</h4>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="label-wrapper"><label>First Name</label></div>
            {{ employeeData?.firstName }} {{ employeeData?.lastName }} {{ employeeData?.thirdName }} {{ employeeData?.fourthName }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Email</label></div>
            {{ employeeData?.email }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Contact No 1</label></div>
            {{ employeeData?.phone }}        
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Contact No 2</label></div>
            {{ employeeData?.phone2 }}        
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Date Of Birth</label></div>
            {{ employeeData?.dob }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Nationality</label></div>
            {{ employeeData?.nationality }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Native Address / Home Address</label></div>
            {{ employeeData?.nativeAddress }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Accommodation Address</label></div>
            {{ employeeData?.accommodationLocation }}
        </div>
    </div>     
    <div class="row form-group">
    <div class="col-lg-12">
        <h4>Office Information</h4>
    </div>
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Employee Code</label></div>
        {{ employeeData?.employeeCode }}
       
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Employee Type</label></div>
        {{ employeeData?.employeeTypeName }}
    </div>
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Employee Role</label></div>
        {{ employeeData?.roleName }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Employee Status</label></div>
        {{ employeeData?.userStatusType }}        
    </div>            
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper">
            <label>Department</label>
        </div>
        {{ employeeData?.departmentName }} 
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper">
        <label>Designation</label>
        </div>
        {{ employeeData?.designationName }}
    </div>                     
    </div> 
    <div class="row form-group">            
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Date Of Join</label></div> 
        {{ employeeData?.doj }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper">
            <label>Employment Remark</label>
        </div>
        {{ employeeData?.employmentRemarkType }}
    </div>
    </div> 
    <div class="row form-group">            
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Visa Profession</label></div>
        {{ employeeData?.visaProfession }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Visa Validity</label></div>
        {{ employeeData?.visaValidity }}
    </div>
    </div>   
    <div class="row form-group">            
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Qatar ID</label></div>
            {{ employeeData?.qatarId }}
        </div>
        <div class="col-lg-12">
            <div class="label-wrapper"><label>Qatar ID Validity</label></div>
            {{ employeeData?.qatarIdValidity }}
        </div>
    </div>  
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Visa</label></div>
        {{ employeeData?.visa }}        
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Working Country Id Number</label></div>
        {{ employeeData?.workingCountryIdNo }}
    </div>
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Passport Number</label></div>
        {{ employeeData?.passportNo }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Passport Validity</label></div>
        {{ employeeData?.passportValidity }}
    </div>
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Health Card Number</label></div>
        {{ employeeData?.healthCardNo }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Health Card Validity</label></div>
        {{ employeeData?.healthCardValidity }}
    </div>
    </div> 
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Insurance Policy Number</label></div>
        {{ employeeData?.insurancePolicyNo }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Insurance Validity</label></div>
        {{ employeeData?.insuranceValidity }}
    </div>
    </div> 
    <div class="row form-group">
    <div class="col-lg-12">
        <h4>Emergency Contact Information</h4>
    </div>
    </div>
    <div class="row form-group">
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Emergency Contact Name </label></div>
        {{ employeeData?.emergencyContactName }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Emergency Contact Number </label></div>
        {{ employeeData?.emergencyContactPhone }}
        
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Home Country Phone </label></div>
        {{ employeeData?.homeCountryPhone }}
    </div>
    <div class="col-lg-12">
        <div class="label-wrapper"><label>Relationship </label></div>
        {{ employeeData?.relationship }}
    </div>
    </div>
  </div>