<general-info-menu></general-info-menu>
<div class="page-body-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-sub-header">
                <div class="row">
                    <div class="col-lg-12"><h4><span>{{itemName}}</span></h4></div>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top: 10px;margin-bottom: 10px;">
                <button (click)="openCreateForm()" class="btn btn-info">Create {{itemName}} Details</button>  
            </div>    
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="table100">
                    <table [mfData]="itemList" #mf="mfDataTable" [mfRowsOnPage]="15">
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">#</th>
                                <th class="column2"><mfDefaultSorter by="boardDivisionName">{{itemName}} Name</mfDefaultSorter></th>
                                <th class="column3"><mfDefaultSorter by="boardDivisionAddress">{{itemName}} Address</mfDefaultSorter></th>
                                <th class="column4"><mfDefaultSorter by="railwayZone">Railway Zone</mfDefaultSorter></th>
                                <th class="column5"><mfDefaultSorter by="zoneDivisionName">Zone Division Name</mfDefaultSorter></th>
                                <th class="column6"><mfDefaultSorter by="otherDetails">Other Details</mfDefaultSorter></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of mf.data;index as i">
                            <tr class="hover-action-row">
                                <td class="column1">{{item.slNo}}</td>
                                <td class="column2">{{item.boardDivisionName }}</td>
                                <td class="column3">{{item.boardDivisionAddress }}</td> 
                                <td class="column4">{{item.railwayZone }}</td> 
                                <td class="column5">{{item.zoneDivisionName }}</td> 
                                <td class="column6">{{item.otherDetails }}</td> 
                                <td class="actions">
                                    <div class="link-holder">
                                        <a class="link" title="Delete {{itemName}}" (click)="deleteItem(item);" ><i class="fas fa-trash"></i></a>
                                        <a class="link" title="Edit {{itemName}}" (click)="editItem(item);"><i class="fas fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="itemList && itemList.length == 0">
                            <tr>
                                <td colspan="3">
                                    <div class="text-center">No Data Found</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[15,20,30,40,50]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create/Update Form [BEGIN]-->
<div class="modal" [ngClass]="{ 'd-block' : isFormVisible}" id="createUpdateModal" *ngIf="isFormVisible">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{isEdit ? ('Update ' +itemName)  : ('Create ' +itemName)}}</h5>
                <button class="close" type="button" data-dismiss="modal" appModal  (click)="closePopup();">&times;</button>
            </div>
            <div class="modal-body">
                <form novalidate [formGroup]="addItemForm" (ngSubmit)="onAddItem();">
                    <div class="col-lg-12">
                        <div><label>{{itemName}} Name :</label></div>
                        <input class="form-control mandatory-field" formControlName="boardDivisionName" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && itemForm.boardDivisionName.errors }"/>

                        <div *ngIf="isFormSubmitInitiated && itemForm.boardDivisionName.errors" style="color:red;">Please enter a name.</div>
                    </div>

                    <div class="col-lg-12">
                        <div><label>{{itemName}} Address : </label></div>
                        <textarea class="form-control mandatory-field" formControlName="boardDivisionAddress"  type="text" maxlength="400"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && itemForm.boardDivisionAddress.errors }"></textarea>

                        <div *ngIf="isFormSubmitInitiated && itemForm.boardDivisionAddress.errors" style="color:red;">Please enter address.</div>
                    </div>

                    <div class="col-lg-12">
                        <div><label>Railway Zone :</label></div>
                        <input class="form-control mandatory-field" formControlName="railwayZone" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && itemForm.railwayZone.errors }"/>

                        <div *ngIf="isFormSubmitInitiated && itemForm.railwayZone.errors" style="color:red;">Please enter railway zone.</div>
                    </div>
<!-- 
                    <div class="col-lg-12">
                        <div><label>Zone Division Name :</label></div>
                        <input class="form-control" formControlName="zoneDivisionName" type="text"
                        [ngClass]="{ 'is-invalid': isFormSubmitInitiated && itemForm.zoneDivisionName.errors }"/>

                        <div *ngIf="isFormSubmitInitiated && itemForm.zoneDivisionName.errors" style="color:red;">Please enter zone division name.</div>
                    </div> -->

                    <div class="col-lg-12">
                        <div><label>Other Details : </label></div>
                        <textarea class="form-control" formControlName="otherDetails"  type="text" maxlength="400"></textarea>
                    </div>

                    <div class="col-lg-12 form-group" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-danger" *ngIf=" ! isEdit" (click)="resetForm()"  type="reset">Clear</button>     
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Create/Update Form [END]-->