<div class="row form-group">
    <div class="col-lg-12">
        <br/>
        <h4>User Documents</h4>
        <form novalidate [formGroup]="userDocumentUploadsForm">
            <div class="row form-group">
                <div class="col-lg-12">  
                    <label>Document Type</label>
                </div> 
                <div class="col-lg-3">  
                    <select class="form-control" formControlName="documentTypeId">
                        <option value="">Select</option>              
                        <option *ngFor="let documentType of documentTypeList"
                            [value]="documentType.documentTypeId">
                            {{ documentType.documentType }}
                        </option>
                    </select>
                </div> 
            </div>
            <div class="row form-group">
                <div class="col-lg-12">  
                    <label>Description</label>
                </div> 
                <div class="col-lg-3">  
                    <input type="text" formControlName="description" class="form-control"/>
                </div> 
            </div>
            <div class="row form-group">
                <div class="col-lg-12">  
                    <label>Please select a file to upload.</label>
                </div> 
                <div class="col-lg-12">  
                    <input type="file" formControlName="document" (change)="upload($event.target.files)" />
                    <div class="row form-group">
                        <div class="col-lg-3"> 
                            <br/>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" 
                                    aria-valuemin="0" aria-valuemax="100" [style.width]="uploadPerCent + '%'">
                                        {{ uploadPerCent == '0' ? '' : uploadPerCent }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/> 
                </div> 
            </div>
        </form>
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th></th>
                <th>DocumentType</th>
                <th>Description</th>
                <th>Document</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let document of documentList">
                <td>
                    <div *ngIf="isImage(document.fileName);">
                        <img [src]="serverBasePath + document.filePath" class="grid-preview" />
                    </div>
                    <div *ngIf="!isImage(document.fileName);">
                        <a><i class="fas fa-file-invoice"></i></a>
                    </div>
                </td>
                <td>{{ document.documentType}}</td>
                <td>{{ document.description}}</td>
                <td><a [href]="serverBasePath + document.filePath" target="_blank">{{document.originalFileName}}</a> </td>
                <td>
                    <a class="link" (click)="deleteDocument(document.usersFileId, document.userId);">
                    <i class="fas fa-times-circle delete-icon"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>