form {
    h4{
        margin-top:15px;
    }    
    .invalid-feedback {
        top:60px;
    }
    .invalid-feedback.text-area-section {
        top:86px;
    }
    img.invalid-upload{
        border:1px solid red;
    }
    label.img-label{
        width:26px;
        height: 22px;
        border-radius: 4px;
        text-align: center;
    }
    label.img-label:hover {
        cursor: pointer;
    }
}
