<div class="page-header-container" style="padding-bottom:0px">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    <span>
                        GENERAL INFO
                    </span>                
                </h4>    
            </div>
        </div>
    </div>
    <div class="row">
        <nav id="nav">
            <ul id="navigation">
                <!-- <li><a >Employee &raquo;</a>
                    <ul>
                        <li><a>Department</a></li>
                        <li><a>Designation</a></li>
                    </ul>
                </li> -->
                <li><a href="/#/general-info/customer">Call Registration &raquo;</a>
                    <ul>
                        <li><a href="/#/general-info/customer">Customer</a></li>
                        <li><a href="/#/general-info/panel">Panel</a></li>
                        <li><a href="/#/general-info/relay">Relay</a></li>
                        <li><a href="/#/general-info/boarddivision">Board/Division</a></li>
                        <li><a href="/#/general-info/sitedetails">Site Details</a></li>
                        <!-- <li><a >Product Details</a></li> -->
                        <li><a href="/#/general-info/customerjobnature">Nature of Job</a></li>
                    </ul>
                </li>
                <li><a href="/#/general-info/obm">MoM &raquo;</a>
                    <ul>
                        <li><a href="/#/general-info/obm">Primary Observation</a></li>
                        <li><a href="/#/general-info/jobnature">Action Undertaken</a></li>
                    </ul>
                </li>
                <li><a href="/#/general-info/mr-itemlist" class="last">Material Request &raquo;</a>
                    <ul>
                        <li><a href="/#/general-info/mr-category">Material Category</a></li>
                        <li><a href="/#/general-info/mr-itemlist">Material Item</a></li>
                        <li><a href="/#/general-info/mr-courier">Courier Service</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>