form {
    h4{
        margin-top:15px;
    }
    label {
        font-weight: 500;
    }
    .invalid-feedback {
        top:65px;
    }
    .invalid-feedback.text-area-section {
        top:86px;
    }
}