<div class="login-container bg-light">
  <div class="login-box">
    <div class="container">
      <div class="card col-md-6 mx-auto login-black-bg">
        <div class="card-body">
          <h4 class="card-title">
              <img src="assets/images/logo-front.png" class="logo" />
          </h4>
          <div class="p-3">
            <form (ngSubmit)="submitForgotPassword()" [formGroup]="loginForm" novalidate>
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
                Username or password incorrect.
              </div>
              <div class="form-group">
                <label class="d-block">
                  <input type="text" class="form-control mandatory-field" formControlName="username" autocomplete="username"
                        [placeholder]="'Username' | translate"/>
                  <span hidden translate>Username</span>
                </label>
                <label class="d-block">
                  <input type="text" class="form-control mandatory-field" formControlName="email" autocomplete="current-password"
                        [placeholder]="'Registered Primary Email ID' | translate" required/>
                </label>
              </div>
              <div class="form-check float-right" >
                <label>
                  <!-- <input type="checkbox" class="form-check-input" formControlName="remember"/> -->
                  <a class="white-text forgot-password" href="/#/login" translate>Back to Login Page</a>
                </label>
              </div>
              <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span translate>Send Forgot Password Link</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
