input[type='checkbox'].form-control.gurantee-period-ctrl {
    height: 18px;
    width: 18px;
    border: 0;
    margin-left: 26px;
}
#callMngtViewModal {
    .view-label{
        font-weight: 600;
    }
}
#allotCallMngtModal {
    label{
        font-weight: 600;
    }
}
#callMngtViewModal {
    .col-lg-8 {
        width: 310px;
        max-width: 310px;
    }
}