#minOfMeetingModal {    
    .invalid-feedback {
        top:34px;        
    }
    .invalid-feedback.text-area-invalid-feedback {
        top:58px;
    }
}
td.width-30-perc{
    width:30%;
}

#serviceReportViewModal {
    .col-lg-8 {
        width: 310px;
        max-width: 310px;
    }
}